<table class="table table-striped">
	<tr>
		<th>precedence</th>
		<th>verb</th>
		<th>controller</th>
		<th>action</th>
		<th>path</th>
		<th>name</th>
	</tr>

	<% @routes.each do |r| %>
		<tr>
			<td><%= r[:precedence] %></td>

      <td><%= r[:verb] %></td>

			<% unless r[:controller].nil? %>
				<td><%= link_to r[:controller], route66_controller_path(r[:controller]) %></td>
			<% end %>
			<td><%= r[:action] %></td>

			<td><%= r[:path] %></td>
			<td><%= r[:name] %></td>
		</tr>
	<% end %>
</table>
